.admin{
    display: flex;
    flex-direction: column;
}

.adminCoupons, .adminMenu{
    display: flex;
    flex-direction: column;
}

.adminCouponsHeader, .adminMenuHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.adminCouponsList{
    display: flex;
    margin-bottom: 1rem;
}

.adminMenuList{
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    gap: 1rem;
}

@media screen and (max-width: 900px) {
    .adminMenuList{
        grid-template-columns: auto;
    }
}
