.layout{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.outlet{
    flex: 1;
    background-color: var(--dark);
    padding: 1rem;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}