.menu{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    align-self: center;
    gap: 2rem;
}

@media screen and (max-width: 1400px) {
    .menu{
        grid-template-columns: auto auto;
        gap: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .menu{
        grid-template-columns: auto;
        gap: 1rem;
    }
}

