.menuItemMain{
    padding: 1rem;
    flex: 1;
}

.menuItem{
    background-color: var(--black);
    width: 400px;
    transition: all 0.25s;
    display: flex;
}

.menuItem:hover{
    width: 410px;
}

.menuItemTop{
    width: 10px;
    background-color: var(--primary);
}

.menuItemTitle{
    background-color: red;
}

.menuItemImage{
    margin-top: 1.5rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

.menuItemHeader{
    display: flex;
    justify-content: space-between;
}