.menuItemMain{
    padding: 1rem;
    flex: 1;
}

.menuItem{
    background-color: var(--black);
    width: 200px;
    height: 200px;
    transition: all 0.25s;
    display: flex;
}

.menuItem:hover{
    width: 210px;
    height: 210px;
}

.menuItemTop{
    width: 10px;
    background-color: var(--primary);
}
