.navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--black);
    width: calc(100% - 2rem);
    height: calc(75px - 2rem);
}

.link{
    text-decoration: none;
    color: var(--primary);
    margin-right: 1.5rem;
    font-size: 1.25rem;
}

.navbarLinks{
    flex: 1;
}

.navbarCart{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 1rem;
    text-decoration: none;
}

.navbarCartIcon{
    margin-right: 0.75rem;
    color: var(--primary);
}
